<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Data Analysis of Singapore Rainfall

--- 
# Part 1

Part 1 requires knowledge of basic Python.

---

### Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## Background

According to the [Meteorological Services Singapore](http://www.weather.gov.sg/climate-climate-of-singapore/#:~:text=Singapore%20is%20situated%20near%20the,month%2Dto%2Dmonth%20variation.), Singapore has typical tropical climate with adundant rainfall, high and uniform temperatures and high humidity all year round, since its situated near the equator. There are many factors that help us understand the climate of a country and in this project we are going to look into a few, especially rainfall.

Singapore’s climate is characterised by two main monsoon seasons separated by inter-monsoonal periods.  The **Northeast Monsoon** occurs from December to early March, and the **Southwest Monsoon** from June to September.

The major weather systems affecting Singapore that can lead to heavy rainfall are:
* Monsoon surges, or strong wind episodes in the Northeast Monsoon flow bringing about major rainfall events;
* Sumatra squalls, an organised line of thunderstorms travelling eastward across Singapore, having developed over the island of Sumatra or Straits of Malacca west of us;
* Afternoon and evening thunderstorms caused by strong surface heating and by the sea breeze circulation that develops in the afternoon.

Singapore’s climate station has been located at several different sites in the past 140 years. The station had been decommissioned at various points in the past due to changes to local land use in the site’s vicinity, and had to be relocated. Since 1984, the climate station has been located at **Changi**.
There are other metrics of climate such as temperature, humidity, sun shine duration, wind speed, cloud cover etc. All the dataset used in the project comes from [data.gov.sg](data.gov.sg), as recorded at the Changi climate station

### Choose your Data

**Datasets corresponding to rainfall information:**

* [`rainfall-monthly-number-of-rain-days.csv`](./data/rainfall-monthly-number-of-rain-days.csv): Monthly number of rain days from 1982 to 2022. A day is considered to have “rained” if the total rainfall for that day is 0.2mm or more.
* [`rainfall-monthly-total.csv`](./data/rainfall-monthly-total.csv): Monthly total rain recorded in mm(millimeters) from 1982 to 2022
* [`rainfall-monthly-highest-daily-total.csv`](./data/rainfall-monthly-highest-daily-total.csv): The highest daily total rainfall for the month recorded
* [`relative-humidity-monthly-mean`](./data/relative-humidity-monthly-mean.csv): The monthly mean relative humidity recorded
* [`SurfaceAirTemperatureMonthlyMeanDailyMaximum`](./data/SurfaceAirTemperatureMonthlyMeanDailyMaximum.csv): The monthly mean daily minimum temperature recorded at the Changi Climate Station
* [`surface-air-temperature-monthly-mean-daily-minimum`](./data/surface-air-temperature-monthly-mean-daily-minimum.csv): The monthly mean daily maximum temperature recorded at the Changi Climate Station
* [`SurfaceAirTemperatureMonthlyAbsoluteExtremeMaximum`](./data/SurfaceAirTemperatureMonthlyAbsoluteExtremeMaximum.csv): The monthly extreme maximum air temperature recorded at the Changi Climate Station
* [`SurfaceAirTemperatureMonthlyAbsoluteExtremeMinimum`](./data/SurfaceAirTemperatureMonthlyAbsoluteExtremeMinimum.csv): The absolute extreme minimum air temperature recorded at the Changi Climate Station
* [`sunshine-duration-monthly-mean-daily-duration`](./data/sunshine-duration-monthly-mean-daily-duration.csv): The monthly mean sunshine hours in a day recorded at the Changi Climate Station

**Datasets corresponding to Air Quality:**
* [`air-pollutant-ozone`](./data/air-pollutant-ozone.csv): Annual daily maximum 8-hr means for ozone (µg/m3)
* [`air-pollutant-particulate-matter-pm2-5`](./data/air-pollutant-particulate-matter-pm2-5.csv): Annual means for PM2.5 (µg/m3)
* [`AirPollutantParticulateMatterPM10`](./data/AirPollutantParticulateMatterPM10.csv): Annual 24-hr means (99th percentile) for PM10 (µg/m3)
* [`AirPollutantCarbonMonoxide2ndMaximum8HourMean`](./data/AirPollutantCarbonMonoxide2ndMaximum8HourMeancsv): Annual maximum 8-hr means for carbon monoxide (mg/m3) are based on WHO Air Quality Guidelines (for Europe, 2000).
* [`AirPollutantNitrogenDioxide`](./data/AirPollutantNitrogenDioxide.csv): Annual means for nitrogen dioxide (µg/m3)
* [`AirPollutantSulphurDioxide`](./data/AirPollutantSulphurDioxide.csv): Annual means for sulphur dioxide (µg/m3)
* [`historical-24-hr-psi`](./data/historical-24-hr-psi.csv): Historical regional 24-hr PSI

**Datasets corresponding to Healthcare:**
* [`age-standardised-mortality-rate-for-cancer`](./data/age-standardised-mortality-rate-for-cancer.csv): Age-standardised mortality rates for Cancer
* [`age-standardised-mortality-rate-for-stroke`](./data/age-standardised-mortality-rate-for-stroke.csv): Age-standardised mortality rates for Stroke
* [`age-standardised-mortality-rate-for-ischaemic-heart-disease`](./data/age-standardised-mortality-rate-for-ischaemic-heart-disease.csv): Age-standardised mortality rates for Ischaemic Heart Disease
* [`HospitalAdmissionRatebyAgeandSex`](./data/HospitalAdmissionRatebyAgeandSex.csv): Hospital Admission Rate by Age and Sex
* [`average-daily-polyclinic-attendances-for-selected-diseases`](./data/average-daily-polyclinic-attendances-for-selected-diseases.csv): Average daily polyclinic attendances for selected diseases - Acute Upper Respiratory Tract infections, Acute Conjunctivitis, Acute Diarrhoea, Chickenpox and HFMD( from 2018)

---

## Problem Statement

**Context:**<br>
Ongoing climate change, the return of El Nino and La Nina events, recurrent transboundary Southeast Asian Haze. These are some of the major factors that have caused notable shifts in weather patterns. This phenomenon has been apparent in 2023, where we have been experiencing erratic weather variations in Singapore, including heavy rainfall and heatwaves. As such, Air Quality is increasingly a topic of concern. The increased frequency and intensity of extreme weather events contribute to higher levels of air pollutants, including particulate matter (PM2.5 and PM10), nitrogen dioxide (NO2), sulfur dioxide (SO2), and ozone (O3). This worsening AQI poses a significant risk to public health and can lead to various health issues, including respiratory problems and cardiovascular diseases like heart disease and stroke.<br><br>
**Problem Statement:**<br>
You are part of the Ministry of Health (MOH) taskforce set up to understand the impact (immediacy, magnitude) of weather on air quality, and the correlation of these environmental factors on the population's health. This study should provide insights regarding manpower and/or resource allocation to cope with the consequences of the extreme weather conditions ahead, and provide the premise for further studies to be conducted.<br><br>
**Some guiding questions to address:**
* How do weather conditions, including temperature, humidity, wind patterns, and rainfall, affect the various air pollutants?
* What can we learn about potential health risks associated with exposure to different air pollutants, and how weather affects them?
* How do the changes in weather and air quality relate to the potential health issues? Are there any trends to the severity and immediacy? 

---

### Outside Research

*Based on your problem statement and your chosen datasets, spend some time doing outside research on how climate change is affecting different industries or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.***

<mark>COME BACK</mark>
*During my earlier research, I learnt that rainfall could improve air quality as the rain could help remove pollutants in a phenomenon called 'Wet Deposition'. On the other hand, hot weather could lead to low air quality as air is likelier to stagnate, causing pollutants to settle and build up.

* Current weather phenomenon
* Rain vs hot weather
* Air quality factors
*

**Sources**<br>
1. https://www.nea.gov.sg/our-services/pollution-control/air-pollution/air-quality
1. https://www.who.int/news/item/22-09-2021-new-who-global-air-quality-guidelines-aim-to-save-millions-of-lives-from-air-pollution
2. https://www.who.int/publications/i/item/9789240034228
3. https://www.todayonline.com/singapore/explainer-erratic-weather-heatwave-what-do-extreme-changes-ahead-2172341
4. https://blog.breezometer.com/air-pollution-weather-rainy-day/
5. https://www.haze.gov.sg/docs/default-source/faq/computation-of-the-pollutant-standards-index-(psi).pdf


---

### Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [1]:
# Defining function that calculates mean
def calc_mean(values):
    return sum(values)/len(values)

In [2]:
# To test if function works
mean_val = calc_mean([5,4,3])
mean_val

4.0

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [3]:
# Defining function that calculates standard deviation
def std_dev(values):

#calculate squared differences and place them in list
    squared_diff = []

    for value in values:
        squared_diff.append((value - mean_val)**2)

#calculate variance = avg of squared differences
    variance = sum(squared_diff) / len(values)

#calculate std_dev = sq rt of variance
    import math
    return math.sqrt(variance)

In [4]:
# To test if function works
std_dev([5, 4, 3])

0.816496580927726

--- 
# Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [5]:
# Imports:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Import and Cleaning

### Data Import Strategy:
To make things more organised, I will be importing data in 3 batches -  1) Weather-related, 2) Air Quality related, 3) Health-related. Within these 3 batches, I have decided to combine the dataframes where possible, if there are common identifier variables between the dataframes that I can use to merge.

### Data Cleaning Strategy:
The usual data cleaning of checking for shape, data types, missing values and duplicates are done.
As most of the data came from the same source: data.gov.sg, data was easy to clean with little or no null values. Most NEA-sourced data (for the weather conditions and air pollutants) involved data collected from a similar period, with similar date-time formatting. <br><br>

**General steps for data import and cleaning**<br>
1.  Display the data: print the first 5 rows of each dataframe.
2.  Check for missing values and datatype, fix errors.
3.  Fix any incorrect data types.
4.  Rename Columns.
5.  Drop unnecessary rows (if needed).
6.  Merge dataframes that can be merged.
7.  Perform any additional cleaning necessary.
8.  Save cleaned and merged dataframes as csv files.

### Weather Data Import

In [6]:
# Bring in weather data
rainf_rain_days = pd.read_csv(r'..\data\rainfall-monthly-number-of-rain-days.csv')
rainf_total = pd.read_csv(r'..\data\rainfall-monthly-total.csv')
rainf_daily_high = pd.read_csv(r'..\data\rainfall-monthly-highest-daily-total.csv')
humi_mean = pd.read_csv(r'..\data\relative-humidity-monthly-mean.csv')
temp_min = pd.read_csv(r'..\data\surface-air-temperature-monthly-mean-daily-minimum.csv')
temp_max = pd.read_csv(r'..\data\SurfaceAirTemperatureMonthlyMeanDailyMaximum.csv')
sunsh_duratn = pd.read_csv(r'..\data\sunshine-duration-monthly-mean-daily-duration.csv')
temp_abs_max = pd.read_csv(r'..\data\SurfaceAirTemperatureMonthlyAbsoluteExtremeMaximum.csv')
temp_abs_min = pd.read_csv(r'..\data\SurfaceAirTemperatureMonthlyAbsoluteExtremeMinimum.csv')

In [7]:
# Check out the first five rows of the rainf_rain_days data
print(rainf_rain_days.shape)

#'month' is currently an object Dtype, itshould be a date-time Dtype.
# decided to convert first to avoid errors in merging
rainf_rain_days['month'] = pd.to_datetime(rainf_rain_days['month'], format= '%Y-%m')
print(rainf_rain_days.info())

# print head again to check
rainf_rain_days.head()

(488, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488 entries, 0 to 487
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   month             488 non-null    datetime64[ns]
 1   no_of_rainy_days  488 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 7.8 KB
None

       month  no_of_rainy_days
0 1982-01-01                10
1 1982-02-01                 5
2 1982-03-01                11
3 1982-04-01                14
4 1982-05-01                10

In [8]:
# Check out the first five rows of the rainf_total data
print(rainf_total.shape) 

#'month' is currently an object Dtype, itshould be a date-time Dtype.
# decided to convert first to avoid errors in merging
rainf_total['month'] = pd.to_datetime(rainf_total['month'], format= '%Y-%m')
print(rainf_total.info())

# print head again to check
rainf_total.head()

(488, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488 entries, 0 to 487
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   month           488 non-null    datetime64[ns]
 1   total_rainfall  488 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 7.8 KB
None

       month  total_rainfall
0 1982-01-01           107.1
1 1982-02-01            27.8
2 1982-03-01           160.8
3 1982-04-01           157.0
4 1982-05-01           102.2

In [9]:
# Check out the first five rows of the rainf_daily_high data
print(rainf_daily_high.shape) 

#'month' is currently an object Dtype, itshould be a date-time Dtype.
# decided to convert first to avoid errors in merging
rainf_daily_high['month'] = pd.to_datetime(rainf_daily_high['month'], format='%Y-%m')
print(rainf_daily_high.info())

# print head again to check
rainf_daily_high.head()

(497, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   month                      497 non-null    datetime64[ns]
 1   maximum_rainfall_in_a_day  497 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 7.9 KB
None

       month  maximum_rainfall_in_a_day
0 1982-01-01                       36.5
1 1982-02-01                        9.4
2 1982-03-01                       61.7
3 1982-04-01                       45.1
4 1982-05-01                       33.0

In [10]:
# Check out the first five rows of the humi_mean data
print(humi_mean.shape) 

#'month' is currently an object Dtype, itshould be a date-time Dtype.
# decided to convert first to avoid errors in merging
humi_mean['month'] = pd.to_datetime(humi_mean['month'], format='%Y-%m')
print(humi_mean.info())

# print head again to check
humi_mean.head()

(497, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   month    497 non-null    datetime64[ns]
 1   mean_rh  497 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 7.9 KB
None

       month  mean_rh
0 1982-01-01     81.2
1 1982-02-01     79.5
2 1982-03-01     82.3
3 1982-04-01     85.9
4 1982-05-01     83.2

In [11]:
# Check out the first five rows of the temp_min data
print(temp_min.shape) 

#'month' is currently an object Dtype, itshould be a date-time Dtype.
# decided to convert first to avoid errors in merging
temp_min['month'] = pd.to_datetime(temp_min['month'], format='%Y-%m')
print(temp_min.info())

# print head again to check
temp_min.head()

(497, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   month                497 non-null    datetime64[ns]
 1   temp_mean_daily_min  497 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 7.9 KB
None

       month  temp_mean_daily_min
0 1982-01-01                 23.3
1 1982-02-01                 23.9
2 1982-03-01                 24.3
3 1982-04-01                 24.3
4 1982-05-01                 25.2

In [12]:
# Check out the first five rows of the temp_max data
print(temp_max.shape) 

#'month' is currently an object Dtype, itshould be a date-time Dtype.
# decided to convert first to avoid errors in merging
temp_max['month'] = pd.to_datetime(temp_max['month'], format='%Y-%m')
print(temp_max.info())

# print head again to check
temp_max.head()

(497, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   month                497 non-null    datetime64[ns]
 1   temp_mean_daily_max  497 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 7.9 KB
None

       month  temp_mean_daily_max
0 1982-01-01                 29.8
1 1982-02-01                 32.3
2 1982-03-01                 31.7
3 1982-04-01                 31.4
4 1982-05-01                 31.7

In [13]:
# Check out the first five rows of the sunsh_duratn data
print(sunsh_duratn.shape) 

#'month' is currently an object Dtype, itshould be a date-time Dtype.
# decided to convert first to avoid errors in merging
sunsh_duratn['month'] = pd.to_datetime(sunsh_duratn['month'], format='%Y-%m')
print(sunsh_duratn.info())

# print head again to check
sunsh_duratn.head()

(497, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   month              497 non-null    datetime64[ns]
 1   mean_sunshine_hrs  497 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 7.9 KB
None

       month  mean_sunshine_hrs
0 1982-01-01                5.6
1 1982-02-01                7.6
2 1982-03-01                5.1
3 1982-04-01                4.7
4 1982-05-01                5.8

In [14]:
# Check out the first five rows of the temp_abs_max data
print(temp_abs_max.shape)

#'month' is currently an object Dtype, itshould be a date-time Dtype.
# decided to convert first to avoid errors in merging
temp_abs_max['month'] = pd.to_datetime(temp_abs_max['month'], format= '%Y-%m')
print(temp_abs_max.info())

# print head again to check
temp_abs_max.head()

(497, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   month            497 non-null    datetime64[ns]
 1   max_temperature  497 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 7.9 KB
None

       month  max_temperature
0 1982-01-01             31.9
1 1982-02-01             34.3
2 1982-03-01             34.3
3 1982-04-01             33.2
4 1982-05-01             32.9

In [15]:
# Check out the first five rows of the temp_abs_min data
print(temp_abs_min.shape)

#'month' is currently an object Dtype, itshould be a date-time Dtype.
# decided to convert first to avoid errors in merging
temp_abs_min['month'] = pd.to_datetime(temp_abs_min['month'], format='%Y-%m')
print(temp_abs_min.info())

# print head again to check
temp_abs_min.head()

(497, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   month              497 non-null    datetime64[ns]
 1   temp_extremes_min  497 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 7.9 KB
None

       month  temp_extremes_min
0 1982-01-01               21.9
1 1982-02-01               22.6
2 1982-03-01               22.3
3 1982-04-01               22.2
4 1982-05-01               23.7

In [16]:
#merge the tables on the 'month' column
weather = pd.merge(left = rainf_rain_days,
                          right = rainf_total,
                          how = 'left',
                          on = "month")

In [17]:
weather = pd.merge(left = weather,
                          right = rainf_daily_high,
                          how = 'left',
                          on = "month")

In [18]:
weather = pd.merge(left = weather,
                          right = humi_mean,
                          how = 'left',
                          on = "month")

In [19]:
weather = pd.merge(left = weather,
                          right = temp_min,
                          how = 'left',
                          on = "month")

In [20]:
weather = pd.merge(left = weather,
                          right = temp_max,
                          how = 'left',
                          on = "month")

In [21]:
weather = pd.merge(left = weather,
                          right = sunsh_duratn,
                          how = 'left',
                          on = "month")

In [22]:
weather = pd.merge(left = weather,
                          right = temp_abs_max,
                          how = 'left',
                          on = "month")

In [23]:
weather = pd.merge(left = weather,
                          right = temp_abs_min,
                          how = 'left',
                          on = "month")

In [24]:
#Check merged weather table
print(weather.shape)
weather.head()

(488, 10)

,month,no_of_rainy_days,total_rainfall,maximum_rainfall_in_a_day,mean_rh,temp_mean_daily_min,temp_mean_daily_max,mean_sunshine_hrs,max_temperature,temp_extremes_min
0,1982-01-01,10,107.1,36.5,81.2,23.3,29.8,5.6,31.9,21.9
1,1982-02-01,5,27.8,9.4,79.5,23.9,32.3,7.6,34.3,22.6
2,1982-03-01,11,160.8,61.7,82.3,24.3,31.7,5.1,34.3,22.3
3,1982-04-01,14,157.0,45.1,85.9,24.3,31.4,4.7,33.2,22.2
4,1982-05-01,10,102.2,33.0,83.2,25.2,31.7,5.8,32.9,23.7

In [25]:
#Check for any null values
weather.isna().sum()

month                        0
no_of_rainy_days             0
total_rainfall               0
maximum_rainfall_in_a_day    0
mean_rh                      0
temp_mean_daily_min          0
temp_mean_daily_max          0
mean_sunshine_hrs            0
max_temperature              0
temp_extremes_min            0
dtype: int64

In [26]:
#Check datatypes
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 488 entries, 0 to 487
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   month                      488 non-null    datetime64[ns]
 1   no_of_rainy_days           488 non-null    int64
 2   total_rainfall             488 non-null    float64
 3   maximum_rainfall_in_a_day  488 non-null    float64
 4   mean_rh                    488 non-null    float64
 5   temp_mean_daily_min        488 non-null    float64
 6   temp_mean_daily_max        488 non-null    float64
 7   mean_sunshine_hrs          488 non-null    float64
 8   max_temperature            488 non-null    float64
 9   temp_extremes_min          488 non-null    float64
dtypes: datetime64[ns](1), float64(8), int64(1)
memory usage: 41.9 KB

In [27]:
#separate year and month into new temporary dataframe
datetime = {'year':weather['month'].dt.year, 'month':weather['month'].dt.month}
datetime = pd.DataFrame(datetime)

In [28]:
print(datetime.shape)
datetime.head()

(488, 2)

   year  month
0  1982      1
1  1982      2
2  1982      3
3  1982      4
4  1982      5

In [29]:
#drop 'month' from main weather df 
weather.drop(columns = ['month'], axis=1, inplace=True)

#merge datetime df to main weather df
weather = pd.concat(objs = [datetime, weather], axis=1)

In [30]:
weather.head()

,year,month,no_of_rainy_days,total_rainfall,maximum_rainfall_in_a_day,mean_rh,temp_mean_daily_min,temp_mean_daily_max,mean_sunshine_hrs,max_temperature,temp_extremes_min
0,1982,1,10,107.1,36.5,81.2,23.3,29.8,5.6,31.9,21.9
1,1982,2,5,27.8,9.4,79.5,23.9,32.3,7.6,34.3,22.6
2,1982,3,11,160.8,61.7,82.3,24.3,31.7,5.1,34.3,22.3
3,1982,4,14,157.0,45.1,85.9,24.3,31.4,4.7,33.2,22.2
4,1982,5,10,102.2,33.0,83.2,25.2,31.7,5.8,32.9,23.7

In [31]:
#rename column headers
weather.rename(columns={
    'no_of_rainy_days': 'rainy_days',
    'maximum_rainfall_in_a_day': 'max_daily_rainfall',
    'temp_mean_daily_min':'min_daily_temp',
     'temp_mean_daily_max':'max_daily_temp',
    'max_temperature':'extr_max_temp',
    'temp_extremes_min':'extr_min_temp',
}, inplace=True)

In [32]:
weather.head()

,year,month,rainy_days,total_rainfall,max_daily_rainfall,mean_rh,min_daily_temp,max_daily_temp,mean_sunshine_hrs,extr_max_temp,extr_min_temp
0,1982,1,10,107.1,36.5,81.2,23.3,29.8,5.6,31.9,21.9
1,1982,2,5,27.8,9.4,79.5,23.9,32.3,7.6,34.3,22.6
2,1982,3,11,160.8,61.7,82.3,24.3,31.7,5.1,34.3,22.3
3,1982,4,14,157.0,45.1,85.9,24.3,31.4,4.7,33.2,22.2
4,1982,5,10,102.2,33.0,83.2,25.2,31.7,5.8,32.9,23.7

In [33]:
#export weather df to csv file
import os # to work with files/directories
if not os.path.exists('..\data\output'): 
    os.makedirs('..\data\output') 
weather.to_csv('..\data\output\weather.csv')

### Air Quality Data Import

In [34]:
# Bring in air quality pollutants data
ozone_max_mean = pd.read_csv(r'..\data\air-pollutant-ozone.csv')
pm_mean = pd.read_csv(r'..\data\air-pollutant-particulate-matter-pm2-5.csv')
lead_mean = pd.read_csv(r'..\data\AirPolluantLead.csv')
co_mean = pd.read_csv(r'..\data\AirPollutantCarbonMonoxide2ndMaximum8HourMean.csv')
no2_mean = pd.read_csv(r'..\data\AirPollutantNitrogenDioxide.csv')
pm10_mean = pd.read_csv(r'..\data\AirPollutantParticulateMatterPM10.csv')
so2_mean = pd.read_csv(r'..\data\AirPollutantSulphurDioxide.csv')

#bring in PSI data
psi = pd.read_csv(r'..\data\historical-24-hr-psi.csv')

In [35]:
# Check out the first five rows of the ozone_max_mean data
print(ozone_max_mean.shape) 

#'year' is currently an int Dtype, itshould be a date-time Dtype.
# decided to convert first to avoid errors in merging
ozone_max_mean['year'] = pd.to_datetime(ozone_max_mean['year'], format='%Y')
print(ozone_max_mean.info())

# print head again to check
ozone_max_mean.head()

(22, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   year                      22 non-null     datetime64[ns]
 1   ozone_maximum_8hour_mean  22 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 480.0 bytes
None

        year  ozone_maximum_8hour_mean
0 2000-01-01                       112
1 2001-01-01                       133
2 2002-01-01                       131
3 2003-01-01                       118
4 2004-01-01                       146

In [36]:
# Check out the first five rows of the pm_mean data
print(pm_mean.shape) 

#'year' is currently an int Dtype, itshould be a date-time Dtype.
# decided to convert first to avoid errors in merging
pm_mean['year'] = pd.to_datetime(pm_mean['year'], format='%Y')
print(pm_mean.info())

# print head again to check
pm_mean.head()

(20, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        20 non-null     datetime64[ns]
 1   pm2.5_mean  20 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 448.0 bytes
None

        year  pm2.5_mean
0 2002-01-01          23
1 2003-01-01          19
2 2004-01-01          21
3 2005-01-01          21
4 2006-01-01          23

In [37]:
# Check out the first five rows of the lead_mean data
print(lead_mean.shape) 

#'year' is currently an int Dtype, itshould be a date-time Dtype.
# decided to convert first to avoid errors in merging
lead_mean['year'] = pd.to_datetime(lead_mean['year'], format= '%Y')
print(lead_mean.info())

# print unique values for lead_mean
print(lead_mean['lead_mean'].value_counts())

(16, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       16 non-null     datetime64[ns]
 1   lead_mean  16 non-null     object
dtypes: datetime64[ns](1), object(1)
memory usage: 384.0+ bytes
None
<0.1    16
Name: lead_mean, dtype: int64

In [38]:
# Check out the first five rows of the CO_mean data
print(co_mean.shape) 

#'year' is currently an int Dtype, itshould be a date-time Dtype.
# decided to convert first to avoid errors in merging
co_mean['year'] = pd.to_datetime(co_mean['year'], format='%Y')
print(co_mean.info())

# print head again to check
co_mean.head()

(22, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   year               22 non-null     datetime64[ns]
 1   co_max_8hour_mean  22 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 480.0 bytes
None

        year  co_max_8hour_mean
0 2000-01-01                3.7
1 2001-01-01                4.2
2 2002-01-01                2.7
3 2003-01-01                3.2
4 2004-01-01                2.8

In [39]:
# Check out the first five rows of the no2_mean data
print(no2_mean.shape) 

#'year' is currently an int Dtype, itshould be a date-time Dtype.
# decided to convert first to avoid errors in merging
no2_mean['year'] = pd.to_datetime(no2_mean['year'], format='%Y')
print(no2_mean.info())

# print head again to check
no2_mean.head()

(22, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   year                   22 non-null     datetime64[ns]
 1   nitrogen_dioxide_mean  22 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 480.0 bytes
None

        year  nitrogen_dioxide_mean
0 2000-01-01                     30
1 2001-01-01                     26
2 2002-01-01                     27
3 2003-01-01                     24
4 2004-01-01                     26

In [40]:
# Check out the first five rows of the pm10_mean data
print(pm10_mean.shape) 

#'year' is currently an int Dtype, itshould be a date-time Dtype.
# decided to convert first to avoid errors in merging
pm10_mean['year'] = pd.to_datetime(pm10_mean['year'],format= '%Y')
print(pm10_mean.info())

# print head again to check
pm10_mean.head()

(22, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   year                       22 non-null     datetime64[ns]
 1   pm10_24hour_mean_99th_per  22 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 480.0 bytes
None

        year  pm10_24hour_mean_99th_per
0 2000-01-01                         64
1 2001-01-01                         56
2 2002-01-01                         72
3 2003-01-01                         52
4 2004-01-01                         60

In [41]:
# Check out the first five rows of the so2_mean data
print(so2_mean.shape) 

#'year' is currently an int Dtype, itshould be a date-time Dtype.
# decided to convert first to avoid errors in merging
so2_mean['year'] = pd.to_datetime(so2_mean['year'], format='%Y')
print(so2_mean.info())

# print head again to check
so2_mean.head()

(22, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  22 non-null     datetime64[ns]
 1   sulphur_dioxide_mean  22 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 480.0 bytes
None

        year  sulphur_dioxide_mean
0 2000-01-01                    22
1 2001-01-01                    22
2 2002-01-01                    18
3 2003-01-01                    15
4 2004-01-01                    14

In [42]:
#merge df
air_qlty = pd.merge(left = ozone_max_mean,
                    right = pm_mean,
                    how = 'left',
                    on = 'year')

In [43]:
#merge df
air_qlty = pd.merge(left = air_qlty,
                    right = lead_mean,
                    how = 'left',
                    on = 'year')

In [44]:
#merge df
air_qlty = pd.merge(left = air_qlty,
                    right = co_mean,
                    how = 'left',
                    on = 'year')

In [45]:
#merge df
air_qlty = pd.merge(left = air_qlty,
                    right = no2_mean,
                    how = 'left',
                    on = 'year')

In [46]:
#merge df
air_qlty = pd.merge(left = air_qlty,
                    right = pm10_mean,
                    how = 'left',
                    on = 'year')

In [47]:
#merge df
air_qlty = pd.merge(left = air_qlty,
                    right = so2_mean,
                    how = 'left',
                    on = 'year')

In [48]:
#replace year with just the actual datetime format year
air_qlty['year'] = air_qlty['year'].dt.year

In [49]:
#rename column headers
air_qlty.rename(columns={'ozone_maximum_8hour_mean':'ozone_max_mean',
                        'co_max_8hour_mean':'co_max_mean',
                        'pm10_24hour_mean_99th_per':'pm10_mean',
                        'nitrogen_dioxide_mean':'no2_mean',
                        'sulphur_dioxide_mean':'so2_mean'},
                         inplace=True)

In [50]:
air_qlty = air_qlty[['year', 'pm2.5_mean', 'pm10_mean', 'ozone_max_mean', 'lead_mean', 'co_max_mean', 'no2_mean', 'so2_mean']]

In [51]:
air_qlty.head(10)

,year,pm2.5_mean,pm10_mean,ozone_max_mean,lead_mean,co_max_mean,no2_mean,so2_mean
0,2000,NaN,64,112,NaN,3.7,30,22
1,2001,NaN,56,133,NaN,4.2,26,22
2,2002,23.0,72,131,NaN,2.7,27,18
3,2003,19.0,52,118,NaN,3.2,24,15
4,2004,21.0,60,146,NaN,2.8,26,14
5,2005,21.0,61,159,NaN,2.4,25,14
6,2006,23.0,120,136,<0.1,2.6,24,11
7,2007,19.0,53,206,<0.1,1.7,22,12
8,2008,16.0,49,183,<0.1,1.6,22,11
9,2009,19.0,59,105,<0.1,1.9,22,9

In [52]:
#noticed lead_mean has value '<0.1'
print(air_qlty['lead_mean'].unique())

#replace this to "0.1"
air_qlty = air_qlty.replace({'<0.1': '0.1'})

air_qlty.head(10)

[nan '<0.1']

,year,pm2.5_mean,pm10_mean,ozone_max_mean,lead_mean,co_max_mean,no2_mean,so2_mean
0,2000,NaN,64,112,NaN,3.7,30,22
1,2001,NaN,56,133,NaN,4.2,26,22
2,2002,23.0,72,131,NaN,2.7,27,18
3,2003,19.0,52,118,NaN,3.2,24,15
4,2004,21.0,60,146,NaN,2.8,26,14
5,2005,21.0,61,159,NaN,2.4,25,14
6,2006,23.0,120,136,0.1,2.6,24,11
7,2007,19.0,53,206,0.1,1.7,22,12
8,2008,16.0,49,183,0.1,1.6,22,11
9,2009,19.0,59,105,0.1,1.9,22,9

In [53]:
#standardize all values to float dtype
air_qlty = air_qlty.astype({'pm10_mean':float, 
                'ozone_max_mean':float, 
                'lead_mean':float,
                'no2_mean':float,
                'so2_mean':float})

air_qlty.head()

,year,pm2.5_mean,pm10_mean,ozone_max_mean,lead_mean,co_max_mean,no2_mean,so2_mean
0,2000,NaN,64.0,112.0,NaN,3.7,30.0,22.0
1,2001,NaN,56.0,133.0,NaN,4.2,26.0,22.0
2,2002,23.0,72.0,131.0,NaN,2.7,27.0,18.0
3,2003,19.0,52.0,118.0,NaN,3.2,24.0,15.0
4,2004,21.0,60.0,146.0,NaN,2.8,26.0,14.0

In [54]:
#export air_qlty df to csv file
import os # to work with files/directories
if not os.path.exists('..\data\output'): 
    os.makedirs('..\data\output') 
    air_qlty.to_csv('..\data\output\air_qlty.csv')

In [55]:
# Check out the first five rows of the psi data
print(psi.shape)
psi.head()

(67968, 6)

       24-hr_psi  north  south  east  west  central
0  1/4/2014 1:00     55     54    54    58       54
1  1/4/2014 2:00     55     54    54    59       54
2  1/4/2014 3:00     55     55    54    60       55
3  1/4/2014 4:00     56     55    55    62       55
4  1/4/2014 5:00     57     55    56    63       56

In [56]:
# convert '24-hr_psi' to date-time Dtype
psi['24-hr_psi'] = pd.to_datetime(psi['24-hr_psi'], format="%d/%m/%Y %H:%M", errors='coerce')
print(psi.info())

# print head again to check
psi.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67968 entries, 0 to 67967
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   24-hr_psi  67967 non-null  datetime64[ns]
 1   north      67968 non-null  int64
 2   south      67968 non-null  int64
 3   east       67968 non-null  int64
 4   west       67968 non-null  int64
 5   central    67968 non-null  int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 3.1 MB
None

            24-hr_psi  north  south  east  west  central
0 2014-04-01 01:00:00     55     54    54    58       54
1 2014-04-01 02:00:00     55     54    54    59       54
2 2014-04-01 03:00:00     55     55    54    60       55
3 2014-04-01 04:00:00     56     55    55    62       55
4 2014-04-01 05:00:00     57     55    56    63       56

In [57]:
#find the row with null value
psi.loc[psi['24-hr_psi'].isna()]

      24-hr_psi  north  south  east  west  central
17615       NaT     55     53    52    55       53

In [58]:
#Add in missing 24-hr_psi value which became NaT due to wrong formatting
psi['24-hr_psi'][17615] = "4/4/2016 0:00"
psi['24-hr_psi'] = pd.to_datetime(psi['24-hr_psi'], format="%d/%m/%Y %H:%M", errors='coerce')
psi.iloc[17615]

C:\Users\glori\AppData\Local\Temp\ipykernel_29724\1072104075.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  psi['24-hr_psi'][17615] = "4/4/2016 0:00"

24-hr_psi    2016-04-04 00:00:00
north                         55
south                         53
east                          52
west                          55
central                       53
Name: 17615, dtype: object

In [59]:
#split 24-hr_psi column to separate date month year columns
psi['year'] = psi['24-hr_psi'].dt.year
psi['month'] = psi['24-hr_psi'].dt.month
psi['date'] = psi['24-hr_psi'].dt.date
psi['time'] = psi['24-hr_psi'].dt.time

print(psi.info())
psi.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67968 entries, 0 to 67967
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   24-hr_psi  67968 non-null  datetime64[ns]
 1   north      67968 non-null  int64
 2   south      67968 non-null  int64
 3   east       67968 non-null  int64
 4   west       67968 non-null  int64
 5   central    67968 non-null  int64
 6   year       67968 non-null  int64
 7   month      67968 non-null  int64
 8   date       67968 non-null  object
 9   time       67968 non-null  object
dtypes: datetime64[ns](1), int64(7), object(2)
memory usage: 5.2+ MB
None

,24-hr_psi,north,south,east,west,central,year,month,date,time
0,2014-04-01 01:00:00,55,54,54,58,54,2014,4,2014-04-01,01:00:00
1,2014-04-01 02:00:00,55,54,54,59,54,2014,4,2014-04-01,02:00:00
2,2014-04-01 03:00:00,55,55,54,60,55,2014,4,2014-04-01,03:00:00
3,2014-04-01 04:00:00,56,55,55,62,55,2014,4,2014-04-01,04:00:00
4,2014-04-01 05:00:00,57,55,56,63,56,2014,4,2014-04-01,05:00:00

In [60]:
psi.columns

Index(['24-hr_psi', 'north', 'south', 'east', 'west', 'central', 'year',
       'month', 'date', 'time'],
      dtype='object')

In [61]:
#reorder the columns
psi = psi[['year', 'month', 'date', 'time', 'north', 'south', 'east', 'west', 'central']]
psi.head()

   year  month        date      time  north  south  east  west  central
0  2014      4  2014-04-01  01:00:00     55     54    54    58       54
1  2014      4  2014-04-01  02:00:00     55     54    54    59       54
2  2014      4  2014-04-01  03:00:00     55     55    54    60       55
3  2014      4  2014-04-01  04:00:00     56     55    55    62       55
4  2014      4  2014-04-01  05:00:00     57     55    56    63       56

In [62]:
#omit rows after year 2020
#dropping these rows cos none of my other data are analysed past 2020
psi = psi.loc[psi['year']<=2020, :]
psi.tail()

       year  month        date      time  north  south  east  west  central
59202  2020     12  2020-12-31  19:00:00     52     55    55    33       48
59203  2020     12  2020-12-31  20:00:00     52     55    55    31       47
59204  2020     12  2020-12-31  21:00:00     52     55    55    30       48
59205  2020     12  2020-12-31  22:00:00     52     55    55    31       49
59206  2020     12  2020-12-31  23:00:00     52     55    55    34       49

### Health Data Import

In [63]:
# Bring in healthcare data
cancer_mort = pd.read_csv(r'..\data\age-standardised-mortality-rate-for-cancer.csv')
stroke_mort = pd.read_csv(r'..\data\age-standardised-mortality-rate-for-stroke.csv')
heartdis_mort = pd.read_csv(r'..\data\age-standardised-mortality-rate-for-ischaemic-heart-disease.csv')
hosp_adm = pd.read_csv(r'..\data\HospitalAdmissionRatebyAgeandSex.csv')
polyclinic_att = pd.read_csv(r'..\data\average-daily-polyclinic-attendances-for-selected-diseases.csv')

In [64]:
# Check out the first five rows of the cancer_mort data
print(cancer_mort.shape) 

#'year' is currently an int Dtype, itshould be a date-time Dtype.
# decided to convert first to avoid errors in merging
cancer_mort['year'] = pd.to_datetime(cancer_mort['year'], format='%Y')
print(cancer_mort.info())

# print head again to check

cancer_mort.head()

(30, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    30 non-null     datetime64[ns]
 1   cancer  30 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 608.0 bytes
None

        year  cancer
0 1990-01-01   244.5
1 1991-01-01   241.0
2 1992-01-01   240.8
3 1993-01-01   231.8
4 1994-01-01   240.7

In [65]:
# Check out the first five rows of the stroke_mort data
print(stroke_mort.shape) 

#'year' is currently an int Dtype, itshould be a date-time Dtype.
# decided to convert first to avoid errors in merging
stroke_mort['year'] = pd.to_datetime(stroke_mort['year'], format='%Y')
print(stroke_mort.info())

# print head again to check

stroke_mort.head()

(30, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    30 non-null     datetime64[ns]
 1   stroke  30 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 608.0 bytes
None

        year  stroke
0 1990-01-01    95.8
1 1991-01-01    95.5
2 1992-01-01    83.7
3 1993-01-01    83.1
4 1994-01-01    81.2

In [66]:
# Check out the first five rows of the heartdis_mort data
print(heartdis_mort.shape) 

#'year' is currently an int Dtype, itshould be a date-time Dtype.
# decided to convert first to avoid errors in merging
heartdis_mort['year'] = pd.to_datetime(heartdis_mort['year'], format='%Y')
print(heartdis_mort.info())

# print head again to check

heartdis_mort.head()

(30, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    30 non-null     datetime64[ns]
 1   ihd     30 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 608.0 bytes
None

        year    ihd
0 1990-01-01  178.9
1 1991-01-01  165.5
2 1992-01-01  165.8
3 1993-01-01  157.0
4 1994-01-01  158.5

In [67]:
#merge the tables on the 'year' column
diseases = pd.merge(left = cancer_mort,
                          right = stroke_mort,
                          how = 'left',
                          on = "year")

In [68]:
#merge the tables on the 'year' column
diseases = pd.merge(left = diseases,
                          right = heartdis_mort,
                          how = 'left',
                          on = "year")

In [69]:
#replace year with just the actual datetime format year
diseases['year'] = diseases['year'].dt.year

In [70]:
diseases.head()

   year  cancer  stroke    ihd
0  1990   244.5    95.8  178.9
1  1991   241.0    95.5  165.5
2  1992   240.8    83.7  165.8
3  1993   231.8    83.1  157.0
4  1994   240.7    81.2  158.5

In [71]:
# Check out the first five rows of the hosp_adm data
print(hosp_adm.shape) 

#'year' is currently an int Dtype, itshould be a date-time Dtype.
# decided to convert first to avoid errors in merging
hosp_adm['year'] = pd.to_datetime(hosp_adm['year'], format='%Y')
print(hosp_adm.info())

#replace year with just the actual datetime format year
hosp_adm['year'] = hosp_adm['year'].dt.year

# print head again to check
hosp_adm.head()

(216, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             216 non-null    datetime64[ns]
 1   facility_type_a  216 non-null    object
 2   sex              216 non-null    object
 3   age              216 non-null    object
 4   rate             216 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 8.6+ KB
None

   year facility_type_a     sex              age   rate
0  2009           Acute    Male       0-14 Years  100.1
1  2009           Acute    Male      15-64 years   62.7
2  2009           Acute    Male  65 years & over  323.0
3  2009           Acute  Female       0-14 Years   84.9
4  2009           Acute  Female      15-64 years   73.5

In [72]:
# Check out the shape of the polyclinic_att data
print(polyclinic_att.shape)

# Extract year and month into separate columns
polyclinic_att['epi_week'] = pd.to_datetime(polyclinic_att['epi_week'] + '-1', format='%Y-W%W-%w')

# Optionally, you can convert the month column to month name
polyclinic_att['year'] = polyclinic_att['epi_week'].dt.year
polyclinic_att['month'] = polyclinic_att['epi_week'].dt.month

# Print the first five rows of the polyclinic_att data
print(polyclinic_att.info())
polyclinic_att.head()

(2557, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2557 entries, 0 to 2556
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   epi_week      2557 non-null   datetime64[ns]
 1   disease       2557 non-null   object
 2   no._of_cases  2557 non-null   int64
 3   year          2557 non-null   int64
 4   month         2557 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 100.0+ KB
None

,epi_week,disease,no._of_cases,year,month
0,2012-01-02,Acute Upper Respiratory Tract infections,2932,2012,1
1,2012-01-02,Acute Conjunctivitis,120,2012,1
2,2012-01-02,Acute Diarrhoea,491,2012,1
3,2012-01-02,Chickenpox,18,2012,1
4,2012-01-09,Acute Upper Respiratory Tract infections,3189,2012,1

In [74]:
#reorder columns
polyclinic_att = polyclinic_att[['year', 'month', 'disease', 'no._of_cases']]

#rename columns
polyclinic_att.rename(columns={'no._of_cases':'num_cases'},
                         inplace=True)

polyclinic_att.head()

   year  month                                   disease  num_cases
0  2012      1  Acute Upper Respiratory Tract infections       2932
1  2012      1                      Acute Conjunctivitis        120
2  2012      1                           Acute Diarrhoea        491
3  2012      1                                Chickenpox         18
4  2012      1  Acute Upper Respiratory Tract infections       3189

In [ ]:
#export diseases df to csv file
import os # to work with files/directories
if not os.path.exists('..\data\output'): 
    os.makedirs('..\data\output') 
diseases.to_csv('..\data\output\diseases.csv')

In [75]:
#export diseases df to csv file
import os # to work with files/directories
if not os.path.exists('..\data\output'): 
    os.makedirs('..\data\output') 
polyclinic_att.to_csv('..\data\output\polyclinic_att.csv')

---

## Data Dictionary

<details>
<summary>More about Data Dictionary</summary>
Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).
</details>
<br>

<mark>COME BACK TO THIS</mark>
|Feature|Type|Dataset|Description|
|---|---|---|---|
|**rainf_rain_days**|*int*|rainfall-monthly-number-of-rain-days|The number of rain days (day with rainfall amount of 0.2mm or more) in a month recorded| 
|**rainf_total**|*float*|rainfall-monthly-total|The total monthly rainfall in mm|
|**rainf_daily_high**|*float*|rainfall-monthly-highest-daily-total|The highest daily total rainfall for the month recorded|
|**humi_mean**|*float*|relative-humidity-monthly-mean|The monthly mean relative humidity recorded|
|**temp_min**|*float*|surface-air-temperature-monthly-mean-daily-minimum|The monthly and annual mean daily minimum temperature recorded|
|**ozone_max_mean**|*float*|air-pollutant-ozone|Annual daily maximum 8-hr means for ozone (µg/m3) are based on WHO Air Quality Guidelines|
|**pm_mean**|*float*|air-pollutant-particulate-matter-pm2-5|Annual means for PM2.5 (µg/m3) are based on WHO Air Quality Guidelines|

## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'rainfall-monthly-total': xxx, 'no_of_rainy_days': xxx, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which month have the highest and lowest total rainfall in 2000, 2005, 2010, 2015 and 2020?
        - Which year have the highest and lowest total rainfall in the date range of analysis (2000-2020)?
        - Which month have the highest and lowest number of rainy days in 2000, 2005, 2010, 2015 and 2020?
        - Which year have the highest and lowest number of rainy days in the date range of analysis (2000-2020)?
        - Are there any outliers months in the dataset?

   
    - **The above 5 questions are compulsory. Feel free to explore other trends based on the datasets that you have choosen for analysis. You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.<br>
  
    - **Other areas I would like to explore are:**
        - How are the various weather conditions (Mean relative humidity, min daily temperature, sunshine duration, etc) associated with rainfall in Singapore?
        - How does rainfall impact the Air Quality Index (AQI) in Singapore? Is there a correlation between rainfall and improvements or deteriorations in air quality? Are certain pollutants more responsive to rainfall?
        - How do the various air pollutants (that contribute to AQI) relate to each other?
        - How does Singapore's Particulate Matter (PM2.5) measure compared to WHO's target of 5µm/h?
        - Are there time lags or temporal relationships between rainfall events and subsequent changes in the AQI? Do the effects of rainfall on air quality persist over a specific period?

---

# Show summary statistics
weather.describe()

In [ ]:
weather.head()

In [ ]:
#Use a dictionary comprehension to apply the std dev function to each numeric column in the dataframe
sd = {columns: std_dev(values) for columns, values in weather.items()}
sd


#### Analysing Total Rainfall and No of Rainy Days per month
*Compulsory Questions*

In [ ]:
#compulsory question 1
#Which months have the highest and lowest total rainfall in 2000, 2005, 2010, 2015, 2020?

selected_years = [2000, 2005, 2010, 2015, 2020]

#Filter the DataFrame for the selected years
filtered_weather = weather[weather['year'].isin(selected_years)]
filtered_weather.head()

In [ ]:
#Extract 'year', 'month', 'total rainfall' into new df
rainf_by_month = filtered_weather[['year', 'month', 'total_rainfall']]
rainf_by_month.reset_index(drop=True, inplace=True)
rainf_by_month.head()

In [ ]:
#Find the months with the highest rainfall for each year
high_rainf = rainf_by_month.loc[rainf_by_month.groupby('year')['total_rainfall'].idxmax()]
high_rainf.head()

In [ ]:
#Find the months with the lowest total rainfall for each year
low_rainf = rainf_by_month.loc[rainf_by_month.groupby('year')['total_rainfall'].idxmin()]
low_rainf.head()

The 2 dataframes above show us that the highest rainfall largely occur towards the end of the year (in the months of November to December), while lowest total rainfall occur largely in February.

This proposes that total rainfall is a cyclical / seasonal factor.

In [ ]:
#compulsory question 2
#Which years have the highest and lowest total rainfall in the date range of analysis?
#date range = between(2000-2020)

#Extract 'year', 'month', 'total rainfall' into new df
total_rainf = weather.loc[(weather['year'] >= 2000) & (weather['year'] <= 2020), ['year', 'month', 'total_rainfall']]
total_rainf.head()

In [ ]:
#Year with highest total rainfall
high_total_rainf = total_rainf['total_rainfall'].max()
highest_rainfall_row = total_rainf[total_rainf['total_rainfall'] == high_total_rainf]
high_rainf_year = total_rainf['year'].loc[total_rainf['total_rainfall'].idxmax()]

print(f"The year with the highest total rainfall is {high_rainf_year}.")
highest_rainfall_row

In [ ]:
#Year with lowest total rainfall
low_total_rainf = total_rainf['total_rainfall'].min()
lowest_rainfall_row = total_rainf[total_rainf['total_rainfall'] == low_total_rainf]
low_rainf_year = total_rainf['year'].loc[total_rainf['total_rainfall'].idxmin()]

print(f"The year with the lowest total rainfall is {low_rainf_year}.")
lowest_rainfall_row

We are not able to deduce much from just knowing the highest and lowest total rainfall years. However, we could use this years to later compare with our disease graphs to see if there is any relationship.

In [ ]:
#compulsory question 3
#Which month have the highest and lowest number of rainy days in 2000, 2005, 2010, 2015, 2020?

#Extract 'year', 'month', 'total rainfall' into new df
sel_rainy_days = filtered_weather[['year', 'month', 'rainy_days']]
sel_rainy_days.reset_index(drop=True, inplace=True)
sel_rainy_days.head()

In [ ]:
#Find the months with the highestnumber of rainy days for each year
high_rainy_days = sel_rainy_days.loc[sel_rainy_days.groupby('year')['rainy_days'].idxmax()]
high_rainy_days.head()

In [ ]:
#Find the months with the lowest number of rainy days for each year
low_rainy_days = sel_rainy_days.loc[sel_rainy_days.groupby('year')['rainy_days'].idxmin()]
low_rainy_days.head()

This reinforces the earlier trend that we identified from question 1.
Rainfall is a cyclical / seasonal factor - the hot season with lesser rainy days takes place in the earlier half of the year, while the months taking place towards the end of year see more rainy days.

In [ ]:
#compulsory question 4
#Which year have the highest and lowest number of rainy days in the date range of analysis?

#Extract 'year', 'month', 'rainy_days' into new df
rainy_days = weather.loc[(weather['year'] >= 2000) & (weather['year'] <= 2020), ['year', 'month', 'rainy_days']]

#Year with highest number of rainy days
high_rainy_d = rainy_days['rainy_days'].max()
high_rainy_d_row = rainy_days[rainy_days['rainy_days'] == high_rainy_d]
high_rainf_year = rainy_days['year'].loc[rainy_days['rainy_days'].idxmax()]

print(f"The year with the highest number of rainy days is {high_rainf_year}.")
high_rainy_d_row

In [ ]:
#Year with lowest number of rainy days
low_rainy_d = rainy_days['rainy_days'].min()
low_rainy_d_row = rainy_days[rainy_days['rainy_days'] == low_rainy_d]
low_rainf_year = rainy_days['year'].loc[rainy_days['rainy_days'].idxmin()]

print(f"The year with the lowest number of rainy days is {low_rainf_year}.")
low_rainy_d_row

In [ ]:
#compulsory question 5
#Are there any outliers months in the dataset?

#use a histogram to check for outliers
plt.hist(total_rainf['total_rainfall'])
plt.title('Total Rainfall per Month');

# notation indicating a possible outlier
plt.annotate('Possible outlier', xy=(700, 0.03), xytext=(600, 8), fontsize=7,
            arrowprops=dict(arrowstyle='->', ec='grey', lw=2), bbox=dict(boxstyle="round", fc="0.8"));

From the histogram, we can identify an outlier (isolated bar) for the variable of Total Rainfall per Month.

In [ ]:
#use a histogram to check for outliers
plt.hist(rainy_days['rainy_days'])
plt.title('Number of Rainy Days per Month');

From the histogram, there are no outliers for number of rainy days per month.

In [ ]:
weather.columns

#### Correlation between the various weather conditions

In [ ]:
#How are the various weather conditions (Mean relative humidity, min daily temperature, sunshine duration, etc) associated with rainfall in Singapore?
#find correlation between various weather conditions using .corr()
weather_cond = weather.loc[:,['year', 'rainy_days', 'total_rainfall', 'max_daily_rainfall', 'mean_rh',
       'min_daily_temp', 'max_daily_temp', 'mean_sunshine_hrs', 'extr_max_temp',
       'extr_min_temp']]
weather_cond = weather_cond.set_index('year')
weather_cond.corr()

We can tell that temperature and sunshine hours are generally inversely correlated to the other humidity and rainfall. We shall plot this in a heatmap later on to be able to identify correlation more easily.

#### Analysing mean temperature variations (differences between min and max temperatures)

In [ ]:
#What's the diff btwn the monthly extreme min and max temperature? 
# comparing present difference between min and max would confirm the trend of weather becoming increasingly extreme and erratic these days

#add new column showing diff in extreme temps
weather['extr_temp_diff'] = weather['extr_max_temp'] - weather['extr_min_temp']

weather.head()

In [ ]:
#Find the mean extreme_temp_diff per year from 2000-2020
df_extr_temp_diff = weather[(weather['year'] >= 2000) & (weather['year'] <= 2020)].groupby('year')[['extr_temp_diff']].mean()
df_extr_temp_diff

In [ ]:
#From the above, find the year with the max and min difference in extreme max, min temperature
max_year = int(df_extr_temp_diff.idxmax())
min_year = int(df_extr_temp_diff.idxmin())

print(f"The year {max_year} has the maximum difference of {float(df_extr_temp_diff.max()):.2f} degcelc, between the mean monthly absolute extreme max and min temperatures.")
print(f"The year {min_year} has the minimum difference of {float(df_extr_temp_diff.min()):.2f} degcelc, between the mean monthly absolute extreme max and min temperatures.")

In [ ]:
#What's the diff btwn the mean daily min and max temperature? 
#add new column showing diff in extreme temps
weather['daily_temp_diff'] = weather['max_daily_temp'] - weather['min_daily_temp']

weather.head()

In [ ]:
#Find the mean extreme_temp_diff per year from 2000-2020
df_daily_temp_diff = weather[(weather['year'] >= 2000) & (weather['year'] <= 2020)].groupby('year')[['daily_temp_diff']].mean()
df_daily_temp_diff

In [ ]:
#From the above, find the year with the max and min difference in min and max daily temperature
max_year = int(df_daily_temp_diff.idxmax())
min_year = int(df_daily_temp_diff.idxmin())

print(f"The year {max_year} has the maximum difference of {float(df_daily_temp_diff.max()):.2f} degcelc, between the mean min and max daily temperature.")
print(f"The year {min_year} has the minimum difference of {float(df_daily_temp_diff.min()):.2f} degcelc, between the mean min and max daily temperature.")

In [ ]:
#Count number and percentage of months that temperature went above the 20 year mean min and max daily temperature
#calculate the 20 year mean min daily temperature
mean_min_daily = weather['min_daily_temp'].mean()
mean_min_daily

In [ ]:
#calculate the 20 year mean max daily temperature
mean_max_daily = weather['max_daily_temp'].mean()
mean_max_daily

In [ ]:
#Highlight all max daily temps that exceed mean_max_daily, and highlight all min daily temps that fall below mean_min_daily
df_daily_temp = weather.loc[(weather['year'] >= 2000) & (weather['year'] <= 2020), ['year', 'month', 'min_daily_temp', 'max_daily_temp']]

#Create the function to color values below mean min to blue
#Create the function to color values above mean max to orange
def color_for_temp(value):
    if value >= mean_max_daily and value < 2000:
        return 'color: red'

    elif value >= 2000:
        return 'color: black'

    elif value <= mean_min_daily and value > 12:
        return 'color: blue'
        
    else:
        return 'color: black'
        
#We apply the function to all the element in the data frame by using the applymap function
df_daily_temp.style.applymap(color_for_temp)

In [ ]:
#Calculate no & percentage of months that max daily temps that exceed mean_max_daily, and no & percentage of months that min daily temps that fall below mean_min_daily

In [ ]:
#Count number and percentage of months that total rainfall went below its 20 year mean 
#calculate the 20 year mean total rainfall
mean_tot_rainf = weather['total_rainfall'].mean()
mean_tot_rainf

In [ ]:
#Highlight all months that total rainfall fall below mean 
df_tot_rainf = weather.loc[(weather['year'] >= 2000) & (weather['year'] <= 2020), ['year', 'month', 'total_rainfall']]

#Create the function to color values below mean min to blue
#Create the function to color values above mean max to orange
def color_rainf_under(value):
    if value <= mean_tot_rainf and value > 12:
        return 'color: blue'

    else:
        return 'color: black'
        
#We apply the function to all the element in the data frame by using the applymap function
df_tot_rainf.style.applymap(color_rainf_under)

In [ ]:
#Calculate no & percentage of months that total rainfall fall below 20 year mean value

In [77]:
#filter air_qlty table to show only 2000-2020
#make year the index in air_qlty df
air_qlty = air_qlty.set_index('year')

#filter to include only 2000-2020
air_qlty = air_qlty.loc[(air_qlty.index >= 2000) & (air_qlty.index <= 2020),:]
air_qlty.head()

,pm2.5_mean,pm10_mean,ozone_max_mean,lead_mean,co_max_mean,no2_mean,so2_mean
year,,,,,,,
2000,NaN,64.0,112.0,NaN,3.7,30.0,22.0
2001,NaN,56.0,133.0,NaN,4.2,26.0,22.0
2002,23.0,72.0,131.0,NaN,2.7,27.0,18.0
2003,19.0,52.0,118.0,NaN,3.2,24.0,15.0
2004,21.0,60.0,146.0,NaN,2.8,26.0,14.0

In [78]:
print(psi.columns)
psi.head()

Index(['year', 'month', 'date', 'time', 'north', 'south', 'east', 'west',
       'central'],
      dtype='object')

   year  month        date      time  north  south  east  west  central
0  2014      4  2014-04-01  01:00:00     55     54    54    58       54
1  2014      4  2014-04-01  02:00:00     55     54    54    59       54
2  2014      4  2014-04-01  03:00:00     55     55    54    60       55
3  2014      4  2014-04-01  04:00:00     56     55    55    62       55
4  2014      4  2014-04-01  05:00:00     57     55    56    63       56

In [79]:
#Create a column in air_qlty to show PSI as indicator ranges

#Calculate average PSI (a way of measuring AQI) from PSI df
psi_yearly_mean = psi.groupby('year')[['north', 'south', 'east', 'west',
       'central']].mean()

psi_yearly_mean

          north      south       east       west    central
year
2014  56.412638  54.805274  54.801637  57.248674  54.194726
2015  62.502740  62.880822  62.933333  65.582991  58.274087
2016  53.841075  51.736339  50.436362  49.148110  50.490323
2017  52.183333  50.879338  50.023973  46.142922  47.094863
2018  52.567237  53.880023  51.160388  47.656164  52.549087
2019  51.573402  54.689726  53.405251  50.224543  52.810160
2020  44.141052  45.189208  44.736111  38.477573  44.487136

In [ ]:
#Add a column for overall mean psi
psi_yearly_mean['overall'] = (psi_yearly_mean['north']+psi_yearly_mean['south']+psi_yearly_mean['east']+psi_yearly_mean['west']+psi_yearly_mean['central'])/5
psi_yearly_mean.tail()

In [ ]:
#merge overall PSI to air_qlty dataframe
air_qlty_psi = air_qlty.merge(psi_yearly_mean[['overall']], left_index=True, right_index=True, how='left')

#rename overall to overall_psi
air_qlty_psi.rename(columns={'overall':'overall_psi'},
                         inplace=True)

air_qlty_psi.tail()

In [ ]:
#Create a column in air_qlty to show PSI as indicator ranges

#Sort psi into ranges - according to Singapore's indicator indexes
#create function, and use apply to overwrite ages to range
def psi_range(value):
    if value == "NaN":
        return None
    elif value <= 50:
        return "Good"
    elif value <= 100:
        return "Moderate"
    elif value < 200:
        return "Unhealthy"
    elif value < 300:
        return "Very Unhealthy"
    else:
        return "Hazardous"

# Apply the function to replace values within the range
air_qlty_psi['psi_index'] = air_qlty_psi['overall_psi'].apply(psi_range)

air_qlty_psi.tail()

In [ ]:
#For years where temperature exceeds mean, what is the percentage for each indicator poor, very poor or hazardous 

#filter weather df years to 2000-2020
weather = weather.loc[(weather['year'] >= 2000) & (weather['year'] <= 2020),:]
weather.head()

In [ ]:
#get a psi df that groups by year, month and get monthly mean
#Calculate average PSI (a way of measuring AQI) from PSI df
mean_monthly = psi.groupby(['year', 'month']).mean()[['north', 'south', 'east', 'west', 'central']]
mean_monthly.reset_index(drop=False, inplace=True)

#Add a column for overall mean psi
mean_monthly['overall_psi'] = (mean_monthly['north']+mean_monthly['south']+mean_monthly['east']+mean_monthly['west']+mean_monthly['central'])/5

# Create new psi indicator column for mean_monthly df
mean_monthly['psi_index'] = mean_monthly['overall_psi'].apply(psi_range)

mean_monthly.tail()

In [ ]:
#merge weather_cond with mean_monthly psi df
weather_aqi_psi = pd.merge(left = weather,
                          right = mean_monthly,
                          how = 'left',on=['year', 'month'])

#extract only likely required columns for new table
weather_aqi_psi = weather_aqi_psi[['year', 'month', 'total_rainfall', 'min_daily_temp', 'max_daily_temp', 'extr_max_temp', 'extr_min_temp', 'extr_temp_diff', 'daily_temp_diff', 'overall_psi', 'psi_index']]

weather_aqi_psi.tail()

In [ ]:
#since PSI data only available from 2014 onwards, lets do a more focused study instead for this segment, and just filter years 2015 to 2020
weather_aqi_psi = weather_aqi_psi.loc[(weather_aqi_psi['year'] >= 2015) & (weather_aqi_psi['year'] <= 2020),:]
weather_aqi_psi.reset_index(drop=True, inplace=True)
weather_aqi_psi.head()

In [ ]:
#To see if increase in max_daily_temp or fall in total rainfall contributes to unhealthy psi_index

In [ ]:
#calculate the percentage where temperature exceeds the overall 20yr mean max_daily temperature of 31.52 degcelc  for each psi_index range

#Group by psi_index
grouped_psi_index = weather_aqi_psi.groupby('psi_index')

#define function to get percentage where temperature exceeds the overall 20yr mean max_daily temp in a psi_index range
def exceed_max(index):
    return (len(grouped_psi_index.get_group(index).loc[weather_aqi_psi['max_daily_temp'] > 31.52, :]) / len(weather_aqi_psi['max_daily_temp'])) * 100

#Create loop to count percentage and print percentage
psi_index = ['Good', 'Moderate', 'Unhealthy', 'Very Unhealthy', 'Hazardous']

for index in psi_index:
    try:
        if len(grouped_psi_index.get_group(index)) > 0:
            print(f"The percentage of values for psi_index '{index}' whereby temperature exceeds the overall 20yr mean max_daily temp is: {exceed_max(index):.2f}%")
        else:
            print(f"The percentage of values for psi_index '{index}' whereby temperature exceeds the overall 20yr mean max_daily temp is: 0.00%")
    except:
        print(f"The percentage of values for psi_index '{index}' whereby temperature exceeds the overall 20yr mean max_daily temp is: 0.00%")

In [ ]:
#calculate the percentage where total rainfall falls below the overall 20yr mean total rainfall of 177.16  for each psi_index range

#Group by psi_index
grouped_psi_index = weather_aqi_psi.groupby('psi_index')

#define function to get percentage where temperature exceeds the overall 20yr mean max_daily temp in a psi_index range
def below_mean_rainf(index):
    return (len(grouped_psi_index.get_group(index).loc[weather_aqi_psi['total_rainfall'] > 177.16, :]) / len(weather_aqi_psi['total_rainfall'])) * 100

#Create loop to count percentage and print percentage
psi_index = ['Good', 'Moderate', 'Unhealthy', 'Very Unhealthy', 'Hazardous']

for index in psi_index:
    try:
        if len(grouped_psi_index.get_group(index)) > 0:
            print(f"The percentage of values for psi_index '{index}' whereby total rainfall falls below the overall 20yr mean total rainfall is: {below_mean_rainf(index):.2f}%")
        else:
            print(f"The percentage of values for psi_index '{index}' whereby total rainfall falls below the overall 20yr mean total rainfall is: 0.00%")
    except:
        print(f"The percentage of values for psi_index '{index}' whereby total rainfall falls below the overall 20yr mean total rainfall is: 0.00%")

Unfortunately, through the above results, we are unable to draw a strong correlation that higher temperatures or lack of rainfall would contribute to a more unhealthy psi index.
This could be due to a few factors:
1) Computation of PSI is based on the 6 different pollutants. Perhaps temperature or rainfall impacts only a few of the pollutants and hence this did not translate in the analysis.
2) Measurement of PSI in this project is only available from 2014 onwards (and 2015 to 2020 was used instead). Since the worst haze crisis was in 2013, values of unhealthy and hazardous level PSI were not captured in the analysis.

In [76]:
#Calculate percentage of polyclinic diseases that are Acute Upper Respiratory Tract infections per month
polyclinic_att.groupby(

   year  month                                   disease  num_cases
0  2012      1  Acute Upper Respiratory Tract infections       2932
1  2012      1                      Acute Conjunctivitis        120
2  2012      1                           Acute Diarrhoea        491
3  2012      1                                Chickenpox         18
4  2012      1  Acute Upper Respiratory Tract infections       3189

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

## Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

Some ideas for plots that can be generated:

- Plot the histogram of the rainfall data with various bins and comment on the distribution of the data - is it centered, skewed?
- Plot the box-and-whiskers plot. Comment on the different quartiles and identify any outliers in the dataset. 
- Is there a correlation between the number of rainy days and total rainfall in the month? What kind of correlation do your suspect? Does the graph show the same?

In [ ]:
#Mapping the general trend between various weather conditions from 2000 - 2020
#(Rainfall, mean relative humidity, min daily temperature, sunshine duration, etc)

conditions = weather.columns[2:]
conditions

In [ ]:
#group by year and get yearly mean for all weather conditions
grouped_year = weather.groupby('year')[['rainy_days', 'total_rainfall', 'max_daily_rainfall', 'mean_rh',
       'min_daily_temp', 'max_daily_temp', 'mean_sunshine_hrs',
       'extr_max_temp', 'extr_min_temp']]
mean_conditions = grouped_year.mean()

#filter to include only 2000-2020
mean_conditions = mean_conditions.loc[(mean_conditions.index >= 2000) & (mean_conditions.index <= 2020),:]
mean_conditions.head()

In [ ]:
# Establish the size of the figure.
plt.figure(figsize = (15, 8))

#get iterable list of conditions, create line plot of all mean_conditions conditions
conditions = ['rainy_days', 'total_rainfall', 'max_daily_rainfall', 'mean_rh',
       'min_daily_temp', 'max_daily_temp', 'mean_sunshine_hrs',
       'extr_max_temp', 'extr_min_temp']

for condition in conditions:
    time = mean_conditions.index
    condition_mean = mean_conditions[condition]
    plt.plot(time,
             condition_mean,
             label = condition, marker = 'o');
    
# legend placement on plot
plt.legend(loc = 'upper right', fontsize = 'x-small');

# Create a grid in the background.
plt.grid(True, linewidth = 0.5, linestyle = '--', c = 'black', alpha = 0.2) # recap: alpha-->transparency. 0.1--> 10% opaque


# Create tick mark labels on the X,Y axis without rotating them.
tick_positions = np.arange(2000, 2021, 1)
plt.xticks(tick_positions, fontsize = 10)
plt.yticks(fontsize = 10)

# Create title.
plt.title("Charting yearly mean of various weather conditions", fontsize = 13);

As a form of preliminary investigation, we can see from the above line chart that the various weather conditions are correlated to each other. In the most substantial fall in mean total rainfall in 1997, we can see that mean relative humidity and mean no of rainy days fell as well.

Only mean sunshine hours is inversely correlated to the relative humidity and rainfall.

In [ ]:
#Plot heat map for weather condition correlations
# Establish size of figure.
plt.figure(figsize = (12,7))

# Set up mask to be "True" in the upper triangle.
# because it will be the mirror image of lower triangle we'll see on our plot.
mask = np.zeros_like(weather_cond.corr())
mask[np.triu_indices_from(mask)] = True

# plotting a heatmap with contrasting color scheme
with sns.axes_style("white"):
    sns.heatmap(weather_cond.corr(), mask = mask, square = True, annot = True, vmin = -1, vmax = 1, linewidths = 0.5, cmap='coolwarm')

The heat map shows more clearly the positive and inverse correlations between the weather conditions. As expected, maximum daily rainfall has the strongest positive correlation to total rainfall measured, at 0.81.

In [ ]:
#How do the various air pollutants (that contribute to AQI) relate to each other?
# Establish the size of the figure.
plt.figure(figsize = (15, 8))

#get iterable list of pollutants, create line plot of all air pollutants contributing to AQI
for pollutants in air_qlty:
    pollut_time = air_qlty.index
    pollut_mean = air_qlty[pollutants]
    plt.plot(pollut_time,
             pollut_mean,
             label = pollutants, marker = 'o');
    
# legend placement on plot
plt.legend(loc = 'upper right', fontsize = 'small');

# Create a grid in the background.
plt.grid(True, linewidth = 0.5, linestyle = '--', c = 'black', alpha = 0.2) # recap: alpha-->transparency. 0.1--> 10% opaque


# Create tick mark labels on the X,Y axis without rotating them.
tick_positions = np.arange(2000, 2021, 1)
plt.xticks(tick_positions, fontsize = 10)
plt.yticks(fontsize = 10)

# Create title.
plt.title("Charting yearly mean of various AQI air pollutants", fontsize = 13);

As preliminary investigation, mapping out the yearly mean of the AQI pollutants shows that there is correlation between ozone, pm2.5 and pm10. However it is still not very clear what this relationship is for now.

In [ ]:
air_qlty.columns

In [ ]:
import matplotlib.ticker as ticker

#lets chart the yearly mean of air pollutants individually, against Singapore & WHO's air quality targets
# Establish figure size.
plt.figure(figsize = (15,17))

# We can create subplots, which allows us to have multiple subplots in the same plot area.
ax1 = plt.subplot(3, 2, 1)
ax1.set_title('Sulphur Dioxide (SO2)')
plt.plot(air_qlty.index,
         air_qlty['so2_mean'],
         label = pollutants, marker = 'o');
ax1.xaxis.set_major_locator(ticker.MultipleLocator(5))
ax1.axhline(y=50, color='red', linestyle='--')

ax2 = plt.subplot(3, 2, 2)
ax2.set_title('Particulate Matter (PM2.5)')
plt.plot(air_qlty.index,
         air_qlty['pm2.5_mean'],
         label = pollutants, marker = 'o');
ax2.xaxis.set_major_locator(ticker.MultipleLocator(5))
ax2.axhline(y=12, color='red', linestyle='--')

ax3 = plt.subplot(3, 2, 3)
ax3.set_title('Particulate Matter (PM10)')
plt.plot(air_qlty.index,
         air_qlty['pm10_mean'],
         label = pollutants, marker = 'o');
ax3.xaxis.set_major_locator(ticker.MultipleLocator(5))
ax3.axhline(y=20, color='red', linestyle='--')

ax4 = plt.subplot(3, 2, 4)
ax4.set_title('Ozone')
plt.plot(air_qlty.index,
         air_qlty['ozone_max_mean'],
         label = pollutants, marker = 'o');
ax4.xaxis.set_major_locator(ticker.MultipleLocator(5))
ax4.axhline(y=100, color='red', linestyle='--')

ax5 = plt.subplot(3, 2, 5)
ax5.set_title('Nitrogen Dioxide (NO2)')
plt.plot(air_qlty.index,
         air_qlty['no2_mean'],
         label = pollutants, marker = 'o');
ax5.xaxis.set_major_locator(ticker.MultipleLocator(5))
ax5.axhline(y=200, color='red', linestyle='--')

ax6 = plt.subplot(3, 2, 6)
ax6.set_title('Carbon Monoxide (CO)')
plt.plot(air_qlty.index,
         air_qlty['co_max_mean'],
         label = pollutants, marker = 'o');
ax6.xaxis.set_major_locator(ticker.MultipleLocator(5))
ax6.axhline(y=30, color='red', linestyle='--')

#plt.tight_layout() # help to add more space/adjust the plots to best layout (like a print job, best fit)
plt.subplots_adjust(wspace=0.2, hspace=0.2)

The 6 charts above plot the 6 different air pollutants which we use to measure air quality. Each pollutant is plotted against the Singapore

In [ ]:
#plot correlation chart between all weather conditions and pollutants in AQI

#First, merge weather_cond df with air_qlty df
weather_aqi = pd.merge(left = weather_cond,
                          right = air_qlty,
                          how = 'left',left_index=True, right_index=True)
weather_aqi.head()

In [ ]:
#find correlation between all weather conditions and pollutants in AQI
weather_aqi.corr()

After seeing the correlation table, I decided on 2 more steps that could help me achieve clearer visualisation:
1. To drop lead_mean from the dataframe. As mean lead amounts were constantly <0.1 for all years, and there would be no point including it.
2. Perhaps i should not find correlation of all factors (for both weather and AQI) on a 12x12 heatmap. I could measure weather conditions on one axis against pollutants on another axis, on a 6x5 heatmap.

In [ ]:
#drop lead_mean from weather_aqi
air_qlty_no_lead = air_qlty.drop(columns=['lead_mean'])
air_qlty_no_lead.head()

In [ ]:
#Plot weather conditions on one axis against pollutants on another axis, on a 6x5 heatmap
# Establish size of figure.
plt.figure(figsize = (12,7));

# Calculate correlation matrix
corr_matrix = pd.concat([weather_cond, air_qlty_no_lead], axis=1).corr()

# Plot correlation heatmap
fig, ax = plt.subplots();
sns.heatmap(corr_matrix.iloc[:len(weather_cond.columns), len(weather_cond.columns):], annot=True, cmap='coolwarm', ax=ax, vmin = -0.35, vmax = 0.35,linewidths = 0.5);

# Set x-axis and y-axis labels
ax.set_xticklabels(air_qlty_no_lead.columns, rotation=90, fontsize = 8);
ax.set_yticklabels(weather_cond.columns, rotation=0, fontsize = 8);

# Set plot title
plt.title('Correlation Between Weather Conditions vs Air Pollutants');

From the above correlation heatmap, correlation is not strong. This may not be most accurate, since the data we are measuring is only looking at yearly mean values.
Stronger correlations are between mean relative humidity to sulfur dioxide mean.

In [ ]:
#Plot histogram of mean extreme_temp_diff per year from 2000-2020
# high frquency of increasing

In [ ]:
#plot bar chart of monthly min and max daily temp on top of each other
#Plot line chart of temp diff


Exposure to PM2.5, tiny particles that penetrate the respiratory system, can lead to various health effects like irritation of the eyes, nose, throat, and lungs, as well as coughing, sneezing, and breathlessness. Long-term exposure is associated with worsened heart and lung function, increased risk of heart attack, and higher mortality rates from heart disease.

In [ ]:
#Measure mean rate of pm2.5 from 2000-2020, plot mean rate, actual pm 2.5 values and WHO target for comparisen

In [ ]:
#Is there any seasonal trend for temperature if we analyse by months of the year?
#use heat map - plot min daily temp

#extract required columns
heatmap_min_daily_temp = weather[['year', 'month', 'min_daily_temp']]
heatmap_min_daily_temp.head()

In [ ]:
#pivot to plot year on x axis, month on y-axis
heatmap_min_daily_temp_pivot = heatmap_min_daily_temp.pivot('month', 'year', 'min_daily_temp')
heatmap_min_daily_temp_pivot.head()

In [ ]:
#use heat map - plot min daily temp

#extract required columns
heatmap_max_daily_temp = weather[['year', 'month', 'max_daily_temp']]
heatmap_max_daily_temp.head()

#pivot to plot year on x axis, month on y-axis
heatmap_max_daily_temp_pivot = heatmap_max_daily_temp.pivot('month', 'year', 'max_daily_temp')
heatmap_max_daily_temp_pivot.head()

In [ ]:
#plot a heatmap each, for min and max daily temp
fig, axs = plt.subplots(1, 2, figsize=(25, 10), sharey=True)

sns.heatmap(heatmap_min_daily_temp_pivot,
    linewidths=0.5,
    cmap="rocket_r",
    center=26,
    ax=axs[0]
    )

sns.heatmap(heatmap_max_daily_temp_pivot,
    linewidths=0.5,
    cmap="rocket_r",
    center=32,
    ax=axs[1]
    )
fig.suptitle("Mean Min Daily Temperatures (Left) and Max Daily Temperatures (Right)", fontsize=17)
axs[0].set_yticklabels(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], fontsize=12)
axs[1].set_yticklabels(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], fontsize=12)
axs[0].set_ylabel("Month", fontsize=15)
axs[1].set_ylabel("Month", fontsize=15)
plt.show()

From both charts, we can see that both the min daily temperatures and max daily temperatures have been increasing over the years. This is possibly due to global warming, as we face rising temperatures.<br>
From the max daily temperature heatmap, we can see that temperatures are hottest in the period of February to June. From the min daily temperature heatmap, we can see temperatures are cooler in the months of November, December and January.

In [ ]:
diseases.columns

In [ ]:
#analyse for seasonality - compare rainfall to mortality rate for Acute Upper Respiratory Tract infections
#extract relevant dataframes

#dataframe for rainfall
rainfall_df = weather[['year', 'month', 'total_rainfall']]

#dataframe for Acute Upper Respiratory Tract infections
resp_inf = polyclinic_att.loc[polyclinic_att['disease']=='Acute Upper Respiratory Tract infections', ['year', 'month', 'no._of_cases']]

In [ ]:
resp_inf.head()

In [ ]:
#create time decomposition chart for max daily temp
from statsmodels.tsa.seasonal import seasonal_decompose

# Convert 'year' and 'month' columns to datetime format
heatmap_max_daily_temp['date'] = pd.to_datetime(heatmap_max_daily_temp[['year', 'month']].assign(day=1))

# Set the 'date' column as the index
heatmap_max_daily_temp.set_index('date', inplace=True)

# Perform seasonal decomposition
decomposition = seasonal_decompose(heatmap_max_daily_temp['max_daily_temp'], model='multiplicative')

# Plot the decomposition
decomposition.plot()
plt.show()

In [ ]:
#create time decomposition chart for rainfall
from statsmodels.tsa.seasonal import seasonal_decompose

# Convert 'year' and 'month' columns to datetime format
rainfall_df['date'] = pd.to_datetime(rainfall_df[['year', 'month']].assign(day=1))

# Set the 'date' column as the index
rainfall_df.set_index('date', inplace=True)

# Perform seasonal decomposition
decomposition = seasonal_decompose(rainfall_df['total_rainfall'], model='multiplicative')

# Plot the decomposition
decomposition.plot()
plt.show()

In [ ]:
#create time decomposition chart for rainfall
from statsmodels.tsa.seasonal import seasonal_decompose

# Convert 'year' and 'month' columns to datetime format
resp_inf['date'] = pd.to_datetime(resp_inf[['year', 'month']].assign(day=1))

# Set the 'date' column as the index
resp_inf.set_index('date', inplace=True)

# Perform seasonal decomposition
decomposition = seasonal_decompose(resp_inf['no._of_cases'], model='multiplicative')

# Plot the decomposition
decomposition.plot()
plt.show()

In [ ]:
#analyse average-daily-polyclinic-attendances-for-selected-diseases and calculate percentage of diseases linked to air pollution (heart, lungs)
#is this percentage seasonal? (time decomposition chart thing)

In [ ]:
#Analyse the duration of peaks and fall for the various cycles of temperature going up
#What's the max duration of the cycle, what's the min duration

In [ ]:
#Plot mortality rate for heart disease and stroke

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

Lessons learnt:
* In future, to be more organised with dataframes and sub-dataframes. Try to perform calculations on the more detailed dataframe, and then carrying out groupby at the end where necessary.

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!